/* Media Queries */

@media (max-width: 550px) {

body{
    background: #4B352A;
    margin: 20px  120px;
    color: #B2CD9C;
}

.input{
        font-size: 12px;
        text-transform: uppercase;
    }

.wrapper{
    gap: 30px;
    justify-content: center;

.firstUser,.secondUser,.thirdUser{

    background: #CA7842;

    #firstUserCatchP, .cp{
        display: none;
    }
}
}
.btn {
    button{
        padding: 8px 15px;
        font-size: 16px;
    }

    p{
        font-size: 12px;
        font-weight: 700;
        color: #B2CD9C;
    }
}

h2{
    font-size: 13px;
}
}

@media (min-width: 551px) and (max-width: 909px) {
body{
    background: #4B352A;
    margin: 20px  0 10rem 0;
    color: #B2CD9C;
}

.wrapper{
    gap: 30px;
    justify-content: center;

    .firstUser,.secondUser,.thirdUser{

    background: #CA7842;
}
}
.btn p{
    color: #B2CD9C;
}
}

@media (min-width: 910px) {
.wrapper{
    gap: 60px;
    justify-content: center;
}
} 
    

