/* Media Queries */
@media (max-width: 320px) {
    .input{
        font-size: 16px;
        text-transform: uppercase;
    }

    .btn{

    button{
        padding: 8px 15px;
        font-size: 18px;
    }

    p{
        font-size: 15px;
        font-weight: 700;
    }
}
}


@media (max-width: 550px) {

body{
    background: #3E0703;
    margin: 20px  50px;
    color: #FFF0C4;
}

.wrapper{
    gap: 30px;
    justify-content: center;

.firstUser,.secondUser,.thirdUser{

    background: #660B05;

    #firstUserCatchP, .cp{
        display: none;
    }
}
}
.btn p{
    color: #715A5A;
}
}

@media (min-width: 551px) and (max-width: 909px) {
body{
    background: #3E0703;
    margin: 20px  0 10rem 0;
    color: #FFF0C4;
}

.wrapper{
    gap: 30px;
    justify-content: center;

    .firstUser,.secondUser,.thirdUser{

    background: #660B05;
}
}
.btn p{
    color: #FFF0C4;
}
}

@media (min-width: 910px) {
.wrapper{
    gap: 60px;
    justify-content: center;
}
} 
    

